[submodule "mlflow_migrate"]
	path = mlflow_migrate
	url = https://gist.github.com/f349cdf22365d8c47159b8e5a5ab1691.git
[submodule "unsafe_go_tools"]
	path = unsafe_go_tools
	url = https://github.com/Cortys/unsafe_go_study_results.git
